
    <app-button-options></app-button-options><br>
<div class="container">
        <div class="container__list">
            <app-list-beers numberCol="0" (setLocal)="setLocalStorage($event)"></app-list-beers>
        </div>
        <div class="container__list">
            <app-list-beers numberCol="1" (setLocal)="setLocalStorage($event)"></app-list-beers>
        </div>
        <div class="container__list">
            <app-list-beers numberCol="2" (setLocal)="setLocalStorage($event)"></app-list-beers>
        </div>
</div>